/*@media screen and (min-width:1920px){
    .brand{
        background-image: url("../resources/img/web/logo.png");
        background-repeat: no-repeat;
        height: 42px;
    	width: 222px;
        
        margin-top:7px;
    	margin-right:15px;
        margin-left: 45px;
    }
    .navbar-fixed-top{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom:0px !important;
    }
    
    #toggle-window {
        float:right !important ;
    }
    

    .side-panel{
        background: -webkit-linear-gradient(white, #e1e1e1); /* For Safari 5.1 to 6.0 */
        //background: -o-linear-gradient(white, #e1e1e1); /* For Opera 11.1 to 12.0 */
        //background: -moz-linear-gradient(white, #e1e1e1); /* For Firefox 3.6 to 15 */
        //background: linear-gradient(white, #e1e1e1); /* Standard syntax */
        /*left: 100px;
        position: absolute;
        top: 100px;
        width: 222px;
        padding: 0 1px;
        min-height: 400px;
        z-index: 9999;
    }

     .top-bar ul{
       visibility: hidden;
    }
    .scrollFix {
        visibility: hidden;
    }


   
}*/